.nav-tabs--vertical {
  border-bottom: none;
  border-right: 1px solid #ddd;
  display: flex;
  flex-flow: column nowrap;
}

.nav-link {
  position: relative;
}

.mob-item {
  min-width: 80px;
}
.slider {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 31%;
  background-color: rgba(0, 0, 0, 0);
  border-top: 2px solid #007bff;
  border-bottom: 2px solid #007bff;
}
.slider ~ ul {
  border-top: 2px solid rgba(255, 255, 255, 0.5);
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

.mob-menu {
  border-bottom: 1px solid #343a40;
  height: 40px;
  /* position: absolute; */
  /* top: 50px; */
  left: 0;
  right: 0;
  z-index: 3;
}
