.my-footer {
  max-height: 7vh;
}

@media only screen and (max-width: 576px) {
  .my-footer {
    display: none;
  }
}

@media only screen and (max-height: 453px) and (min-width: 576px) and (orientation: landscape) {
  .my-footer {
    display: none;
  }
}
